<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <form name="contact" method="POST" action="/contact-us/thank-you" data-netlify="true" data-netlify-recaptcha="true">
			<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
            <div class="form-group">
                <label for="yourName">Your Name <span class="asterisk">*</span></label>
                <input type="text" class="form-control" id="yourName" name="name" required>
            </div>
            <div class="form-group">
                <label for="yourEmail">Email address <span class="asterisk">*</span></label>
                <input type="email" class="form-control" id="yourEmail" name="email" required>
            </div>
            <div class="form-group">
                <label for="theSubject">Subject <span class="asterisk">*</span></label>
                <input type="text" class="form-control" id="theSubject" name="subject" required>
            </div>
            <div class="form-group">
                <label for="emailMessage">Message <span class="asterisk">*</span></label>
                <textarea class="form-control" id="emailMessage" name="message" rows="3" required></textarea>
            </div>
            <div data-netlify-recaptcha="true"></div>
            <p>
                <button type="submit" class="btn">Send</button>
            </p>
            <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
        </form>
    </div>
    <div class="col-1"></div>
</div>