<form class="new_contact" id="new_contact" method="post" data-netlify="true">
    <div class="screen optin-form-screen" data-screen-name="Optin Form">
        <div class="headline">
            <h1>
                <p style="color: rgb(192, 145, 0); text-align: left;" cantata="" one",="" serif;"=""><span
                        style="font-family: Georgia;"><span style="font-size: 16px;">Subscribe for Exclusive Cigar
                            Lounge News</span></span>
                </p>
            </h1>
        </div>


        <div class="optin-form-wrapper clearfix">
            <div class="hidden-fields"></div>
            <div class="optin-form custom_form field-count-3">
                <div class="custom-fields-preview-container">
                    <div class="custom-field-preview-container" data-custom-field-id="1009449">
                        <div class="text-field-wrapper">
                            <label class="" id="custom_field_text_field_1009449_label"
                                for="custom_field_text_field_1009449">First Name</label>
                            <input type="text" id="custom_field_text_field_1009449"
                                name="contact[contact_fields_attributes][1009449][value]" value=""
                                placeholder="Enter first name" style="" class="input-field text-field">
                            <input type="hidden" name="contact[contact_fields_attributes][1009449][label]"
                                value="First Name">
                            <input type="hidden"
                                name="contact[contact_fields_attributes][1009449][custom_field_data_id]"
                                value="1009449">
                            <input type="hidden" name="contact[contact_fields_attributes][1009449][custom_field_id]"
                                value="3108420">
                        </div>
                    </div>
                    <div class="custom-field-preview-container" data-custom-field-id="1009450">
                        <div class="text-field-wrapper">
                            <label class="" id="custom_field_text_field_1009450_label"
                                for="custom_field_text_field_1009450">Last Name</label>
                            <input type="text" id="custom_field_text_field_1009450"
                                name="contact[contact_fields_attributes][1009450][value]" value=""
                                placeholder="Enter last name" style="" class="input-field text-field">
                            <input type="hidden" name="contact[contact_fields_attributes][1009450][label]"
                                value="Last Name">
                            <input type="hidden"
                                name="contact[contact_fields_attributes][1009450][custom_field_data_id]"
                                value="1009450">
                            <input type="hidden" name="contact[contact_fields_attributes][1009450][custom_field_id]"
                                value="3108421">
                        </div>
                    </div>
                    <div class="custom-field-preview-container required" data-custom-field-id="1009446">
                        <div class="email-field-wrapper">
                            <label class="required" id="custom_field_text_field_1009446_label"
                                for="custom_field_text_field_1009446">Email</label>
                            <input type="email" id="custom_field_text_field_1009446"
                                name="contact[contact_fields_attributes][1009446][value]" value=""
                                placeholder="Enter your email" style="" class="input-field email-field">
                            <input type="hidden" name="contact[contact_fields_attributes][1009446][label]"
                                value="Email">
                            <input type="hidden"
                                name="contact[contact_fields_attributes][1009446][custom_field_data_id]"
                                value="1009446">
                            <input type="hidden" name="contact[contact_fields_attributes][1009446][custom_field_id]"
                                value="3108426">
                        </div>
                    </div>
                    <div class="custom-field-preview-container" data-custom-field-id="1009447">
                        <div class="submit-wrapper">
                            <input type="submit" id="custom_field_submit_1009447" name="" value="Submit"
                                style="color: #FFFFFF; background-color: #bf9534;" class="submit">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="foot-note">
            <p>.
            </p>
        </div>
    </div>

    <div class="screen success-screen optin-form custom_form" data-screen-name="Success Message">
        <div class="headline">
            <h1>
                <p><span style="color: rgb(238, 236, 225);">Thank You!</span>
                </p>
            </h1>
        </div>
        <div class="text">
            <p><span style="color: rgb(238, 236, 225);">Thank you for subscribing!</span>
            </p>
        </div>
    </div>
</form>